{% load static %}
{% comment %} Baseado no exemplo: https://www.kite.com/blog/python/django-templates-best-practices/ {% endcomment %}

<!doctype html>
<html lang="pt-BR">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block page_meta %}
        {% endblock %}


        {% block css_imports %}
            <link href="{% static 'images/favicon.svg' %}" rel="shortcut icon">
            <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet" type="text/css">        
            <link href="{% static 'css/base.css'%}" rel="stylesheet" type="text/css">
        {% endblock %}
        

        {% autoescape off %}
            {% block css %}{% endblock %}
        {% endautoescape %}

        

        {% block extra_head %}
            {# Extra header stuff (scripts, styles, metadata, etc) #}
        {% endblock %}

        <title>{% block page_title %}Leilões{% endblock %}</title>
    </head>
    <body class="p-0 m-0 border-0">

 
        {% include 'navbar.html' %}
            
    
        <main>
            {% block main %}
            {% endblock %}

        </main>


        {% comment %} FOOTER {% endcomment %}
        {% include 'footer.html' %}

        



        {# Modal HTML #}
        {% block modals %}

        {% endblock %}


        {% block js_imports %}
            <script src="{% static 'js/popper.min.js'%}"></script>
            <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
            <script src="{% static 'js/jquery.min.js'%}"></script>
        {% endblock %}
        
        {% autoescape off %}
            {% block js %}
            {% endblock %}
        {% endautoescape %}

        

        {# Shared data for javascript #}
        <script type="text/javascript">
            
            window._sharedData = {
                {% autoescape off %}
                    {% block shared_data %}
                        'DEBUG': {% if debug %}true{% else %}false{% endif %},
                    {% endblock %}
                {% endautoescape %}
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })

            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        
        </script>

    </body>
</html>

